* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}
/*.card-body {
    background-color: #FBB903FF;
    
}
.card-body:hover {
    box-shadow: 5px 6px 6px 2px #e9ecef;
    transform: scale(1.09);
    transition: transform 0.5s;
}*/

.dot {
  height: 70px;
  width: 70px;
  background-color: #1089EEFF;
  border-radius: 50%;
  display: inline-block;
}

.dot:hover{
	box-shadow: 5px 6px 6px 2px #e9ecef;
    transform: scale(1.09);
    transition: transform 0.5s;
}

.grid p{
	display: flex;
}


/*lang*/

/*.flex-container{
  display: flex;

}

.box-with-round{
  display: block;
  position: absolute;
  background-color: #4D2BBB;
  height: 60px;
  width: 190px;
  border-radius: 10px;
  margin: 10px;

}

.round{
  height: 50px;
  width: 50px;
  background-color: #EC407A;
  border-radius: 50%;
  position: relative;
  top: 7px;
  right: 20px;
  border: 2px solid white;
}
.box-text{
  color: white;
  text-align: center;
  position: relative;
  bottom: 25px;
}
*/